.glassBackground {
  background-color: var(--secondary-background-color);
  backdrop-filter: blur(10px);
  width: fit-content;
  max-width: 700px;
  margin: 10% auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-shadow: 0 0 1px #121212;
}
