.header {
  background-color: var(--secondary-background-color);
  backdrop-filter: blur(10px);
  text-shadow: 0 0 1px #121212;
}

.headerTop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0;
}

.menuButton {
  position: absolute;
  right: 1rem;
  padding: 0.2rem 0.5rem;
  color: var(--primary-text-color);
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.menuContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 350ms ease,
    opacity 200ms ease;
}

.menuOpen {
  max-height: 12rem;
  opacity: 1;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchElement {
  color: var(--primary-text-color);
  margin: 0.3rem 0.3rem;
  padding: 0.1rem 0.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--glass-background-color);
  backdrop-filter: blur(10px);
}

.searchForm {
  width: fit-content;
}

.pageControls .searchElement {
  margin: 0.7rem 0.1rem;
}

.pageButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.favoritesButton {
  color: var(--allways-dark-text);
  margin: 0 0.3rem;
  padding: 0.1rem 0.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: lightgreen;
}

.favoritesButtonActive {
  background-color: yellow;
}

.navButtons {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navButton {
  color: var(--allways-dark-text);
  display: inline-block;
  margin: 0 0.3rem;
  padding: 0.1rem 0.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: lightblue;
  text-decoration: none;
}
