.header {
  background-color: var(--secondary-background-color);
  backdrop-filter: blur(10px);
  text-shadow: 0 0 1px #121212;
}

nav {
  text-align: center;
}

.headerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.menuButton {
  margin: 0 1rem;
  padding: 0.2rem 0.5rem;
  color: var(--primary-text-color);
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(455, 455, 455, 0.5);
  cursor: pointer;
}

.menuContent {
  display: none;
}

.menuOpen {
  display: block;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchElement {
  color: var(--primary-text-color);
  margin: 0.5rem 0.3rem;
  padding: 0.1rem 0.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(455, 455, 455, 0.5);
  backdrop-filter: blur(10px);
}

form {
  width: fit-content;
}

.pageButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.favoritesButton {
  color: var(--primary-text-color);
  margin: 0.5rem 0.3rem;
  padding: 0.1rem 0.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: lightgreen;
}

.favoritesButtonActive {
  background-color: yellow;
}

.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navButton {
  color: var(--primary-text-color);
  margin: 0.5rem 0.3rem;
  padding: 0.1rem 0.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: lightblue;
}
